.section {
  height: 200px;
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.fadeOverlay {
  background: linear-gradient(
    to right,
    white 0,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0) 80%,
    white 100%
  );
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.tickersContainer {
  display: flex;
  flex-wrap: nowrap;
  width: 3800px;
}

.logos {
  display: flex;
}

.image {
  margin: 0 10px;
}
