@import "../../variables.scss";

.section {
  min-height: 150px;
}

.container {
  min-height: inherit;
  padding: $container-padding-mobile;

  @media (min-width: $tablet-breakpoint) {
    max-width: 800px;
    margin: 0 auto;
  }
}

.email {
  color: $ggp-blue;
  transition: 300ms;

  &:hover {
    color: #000;
  }
}
