@import "../../variables.scss";

.section {
  min-height: 800px;
}

.container {
  min-height: inherit;
  text-align: center;
  padding: $container-padding-mobile;
  background-color: #030914;
  color: #fff;

  @media (min-width: $desktop-large-breakpoint) {
    padding: 40px 15% 70px;
  }
}

.gridContainer {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 30px;

  @media (min-width: $mobile-breakpoint) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-small-breakpoint) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gridBox {
  height: 270px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.boxOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.5px);
  padding: 20px;
}
