@import "../../variables.scss";

.section {
  min-height: 600px;
}

.container {
  min-height: inherit;
}

.backgroundImageContainer {
  width: 100%;
  min-height: inherit;
  background-color: #fff;
  /* TO DO - optimise the bg image once final image is confirmed */
  background-image: url("https://source.unsplash.com/lsJ9jHKIqHg/1920x1080");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gridContainer {
  display: flex;
  min-height: inherit;
  background-color: rgba(0, 0, 0, 0.3);

  @media (min-width: $desktop-small-breakpoint) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.gridColumnOne {
  @media (min-width: $tablet-breakpoint) {
    padding: 4%;
  }
}

.overlayTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: $container-padding-mobile;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);

  @media (min-width: $tablet-breakpoint) {
    background: rgba(0, 0, 0, 0.8);
  }
}

.button {
  margin-top: 30px;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
  position: relative;
  transition: 0.5s;

  &:hover {
    background-color: #fff;
    color: #000;
  }
}
