@import "../../variables.scss";

.section {
  min-height: 400px;
}

.container {
  min-height: inherit;
  padding: $container-padding-mobile;
  text-align: center;

  @media (min-width: $tablet-breakpoint) {
    padding: 40px 15% 70px;
  }
}

.textContainer {
  max-width: 1100px;
  margin: 0 auto;
  text-align: left;
}
