@import "../../../variables.scss";

.footer {
  height: 150px;
  padding: 20px 5%;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;

  @media (min-width: $tablet-breakpoint) {
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.copyright {
  margin-bottom: 20px;

  @media (min-width: $tablet-breakpoint) {
    margin-bottom: 0;
  }
}

.footer a:first-child {
  position: relative;
  margin-right: 30px;

  &:after {
    content: "";
    position: absolute;
    right: -16px;
    top: -2px;
    bottom: -2px;
    width: 2px;
    background-color: #fff;
  }
}
