.footer {
  height: 100px;
  padding: 20px 5%;
  background-color: #030914;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  margin-bottom: 0;
}

.footer a:first-child {
  margin-right: 30px;
}
