@import "../../variables.scss";

.section {
  min-height: 500px;
}

.container {
  min-height: inherit;
  background-color: #fff;
  /* TO DO - optimise the bg image once final image is confirmed */
  background-image: url("https://source.unsplash.com/XGAZzyLzn18/1920x1080");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: inherit;
  padding: $container-padding-mobile;
  background-color: rgba(0, 0, 0, 0.3);

  @media (min-width: $tablet-breakpoint) {
    padding: 40px 15% 70px;
  }
}

.gridContainer {
  display: grid;
  grid-row-gap: 30px;

  @media (min-width: $desktop-small-breakpoint) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
  }
}

.overlayTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  padding: 20px 30px;
  position: relative;
  color: #000;
  background: rgba(255, 255, 255, 0.8);

  @media (min-width: $desktop-large-breakpoint) {
    padding: 20px 50px;
  }

  p {
    margin-bottom: 30px;
  }
}

.link {
  position: absolute;
  bottom: 12%;
}

.button {
  color: $ggp-blue;
  transition: 500ms;
  transition-delay: 50ms;

  &:hover {
    background-color: $ggp-blue;
    color: #fff;
  }
}
